.navbar {
  background-color: #CE2829; /* Kırmızı arka plan */
  padding: 1rem 0;
  color: white;
  font-family: 'Barlow', sans-serif;
}

.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.3s;
}

.nav-links a:hover,
.nav-links .active {
  opacity: 0.8;
  border-bottom: 2px solid white;
}
